@media screen and (max-width: 768px) {
  nav .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  li {
    margin: 0;
    padding: 0.5rem 0;
    font-size: 0.1rem;
    text-align: center;
  }

  .landing-text h1 {
    margin-top: 4rem;
    font-size: 4rem;
  }

  .landing-text h6 {
    font-size: 0.9rem;
  }

  p {
    font-size: 1rem;
  }

  .section-heading {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .profile-img {
    margin: 4rem 0;
  }

  .profile-img img {
    width: 15rem;
  }

  .about-heading {
    margin-bottom: 4rem;
  }

  .about-heading h2 {
    font-size: 4rem;
    opacity: 0.5;
  }

  .about-heading h6 {
    font-size: 1.2rem;
    font-weight: 200;
  }

  .about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  .social-media .list {
    -webkit-box-pack: justify;
            justify-content: space-between;
  }

  .timeline ul {
    margin-left: 28%;
  }

  .timeline .date:before {
    left: -18rem;
  }

  .timeline .date:after {
    left: -4.65rem;
  }
}

@media screen and (max-width: 600px) {
  section:first-of-type {
    padding: 0;
  }

  .landing-text {
    left: 0;
    top: 60%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    margin: 0 auto;
    width: 100%;
  }

  .social-media {
    margin-top: 1rem;
  }

  .section-heading h2 {
    font-size: 2.5rem;
  }

  .section-heading h2:before {
    bottom: 0;
  }

  .section-heading h2:after {
    bottom: -0.3rem;
  }

  .icon-container {
    width: 6rem;
    height: 6rem;
    border: 3px solid black;
  }

  .icon-container i {
    font-size: 4rem;
  }

  .services .container {
    width: 100%;
  }

  .my-skills {
    grid-gap: 2rem;
  }

  .portfolio-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  .portfolio-description.has-margin-right {
    text-align: left;
  }

  .portfolio-description.has-margin-right .cta {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }

  .portfolio-img {
    width: 85%;
    margin: 0 0 1.5rem 0;
  }

  .portfolio-description {
    margin: 0;
    padding: 0 2rem;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }

  .timeline .date:before {
    font-size: 0.85rem;
    left: -15rem;
  }

  .timeline .date:after {
    height: 0.8rem;
    width: 0.8rem;
    left: -2.5rem;
  }

  .timeline h2 {
    font-size: 1.2rem;
  }

  .timeline p {
    font-size: 0.8rem;
  }

  .timeline ul {
    padding: 2rem;
  }

  form {
    width: 85%;
  }

  input:focus,
  select:focus,
  textarea:focus {
    outline-width: 2px;
  }

  .up {
    width: 2.5rem;
    height: 2.5rem;
    top: -1.25rem;
    right: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .nav-link {
    font-size: 0.8rem;
  }

  .about-heading h2 {
    font-size: 3rem;
    opacity: 0.5;
  }

  p {
    font-size: 1rem;
  }

  .landing-text h1 {
    font-size: 3rem;
  }

  .landing-text h6 {
    font-size: 0.8rem;
  }

  .section-heading {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  .timeline h2 {
    font-size: 1.1rem;
  }

  .timeline .date:before {
    font-size: 0.7rem;
    left: -14rem;
  }

  .timeline .date:after {
    left: -1.5rem;
  }

  .timeline ul {
    margin-left: 30%;
    padding: 1rem;
  }
}
